.main-banner-container {
    position: absolute;
    left: 35%;
    top: 0;
    width: 65%;
    z-index: -100;
}

.main-banner-container img {
    display: block;
    width: 100%;
    max-height: 860px;
    object-fit: cover;
}