.wrapper {
    background-image: url(./../../assets/icons/Tree.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    position: relative;
    height: 308px;
    background-color: #EDEDED;
}

.description {
    max-height: 220px;
    width: 392px;
    border: 3px solid #68B982;
    border-radius: 25px;
    background-color: white;
    margin-top: 51px;
    margin-bottom: 91px;
    padding: 20px 20px 35px 25px;
}

.description span {
    color: #303130;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.react-slideshow-container .default-nav:last-of-type, .default-nav:first-of-type {
    fill: lightgray !important;
}
.react-slideshow-container .default-nav {
    background: none !important;
}

.each-slide-effect {
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .wrapper {
        height: 220px;
        background-image: none;
        background-color: white;
    }
}