.header-wrapper {
  background: url("./../../assets/icons/Map.png") no-repeat center right;
  -webkit-background-size: 70% 100%;
  -moz-background-size: 70% 100%;
  -o-background-size: 70% 100%;
  background-size: 60% 100%;
  height: 380px;
}

.header-wrapper-gallery {
  background: url("./../../assets/icons/Banner.png") no-repeat center 113px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 111px;
  margin: 0;
  padding: 0;
}

.nocleg {
  width: 170px;
  height: 111px;
  margin-top: 16px;
  margin-left: 10px;
}

.links {
  display: flex;
  align-items: center;
}

.links a:active {
  text-decoration: underline #971831;
  text-decoration-thickness: 4px;
}
.links img:hover {
  transform: scale(1.2);
}

.image {
  margin-right: 75px;
  font-weight: 600;
  font-size: 25px;
  color: black;
}

.youtube {
  width: 36px;
  height: 25px;
  margin-top: -5px;
  margin-right: 34px;
}

.facebook {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-right: 32px;
}

.title {
  display: block;
  text-align: start;
  padding-bottom: 10px;
  margin-bottom: 50px;
  z-index: -100;
}

.title h2 {
  color: white;
  width: 100%;
  padding-top: 23px;
  padding-left: 34px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
}

.mainTitle h2 {
  color: #971831;
  width: 100%;
  padding-top: 23px;
  padding-left: 34px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
}
.title h3 {
  color: white;
  width: 100%;
  margin-top: -5px;
  padding-left: 34px;
  margin-left: 0;
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.mainTitle h3 {
  color: #971831;
  width: 100%;
  margin-top: -5px;
  padding-left: 34px;
  margin-left: 0;
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contact {
  display: inline-flex;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  width: 214px;
  height: 42px;
  margin-left: 34px;
  margin-right: 45px;
}

.mainContact {
  display: inline-flex;
  justify-content: flex-start;
  background-color: #971831;
  border-radius: 15px;
  width: 214px;
  height: 42px;
  margin-left: 34px;
  margin-right: 45px;
}

.map {
  display: inline-flex;
  align-items: center;
}

.map-icon {
  width: 35px;
  height: 35px;
  margin-right: 9px;
}

.map a {
  font-size: 23px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  margin: 0;
}

.mainPageMap {
  display: inline-flex;
  align-items: center;
}

.mainPageMap a {
  font-size: 23px;
  font-weight: 600;
  color: #971831;
  border-radius: 15px;
  margin: 0;
}

.phone-icon {
  width: 14px;
  height: 17px;
  margin-top: 14px;
  margin-left: 21px;
  margin-right: 10px;
  transform: rotate(4deg);
}

.contact p {
  font-size: 24px;
  font-weight: 500;
  background-color: white;
  border-radius: 15px;
  padding-top: 5px;
}

.mainContact p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  border-radius: 15px;
  padding-top: 5px;
}

.image:hover {
  color: #971831;
}

.mainPageMap:hover,
.map:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  min-height: 120px;
}
