.main-title h3 {
    color: black;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    text-decoration: underline #971831;
    text-decoration-thickness: 8px;
    margin-bottom: 0;
}

.rooms-wrapper {
    margin-left: 47px;
    margin-right: 47px;
    margin-top: 33px;
}

.img {
    cursor: pointer;
}

.border {
    border: 2px solid #C0C0C0;
    border-radius: 0 0 10px 10px;

}

li {
    font-size: 16px;
    font-weight: 500;
    list-style: outside;
    margin-top: 15px;
}

ul {
    width: 340px;
}

.border span {
    font-size: 16px;
    font-weight: 700;
}

.media {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.content {
    font-size: 15px;
    font-weight: 600;
}

.media .content {
    padding: 5px
}

.media .image2 {
    margin-left: 12px;
}

.image2{
    margin-right: 0 !important;
    margin-left: 10px;
}

.teapot {
    margin-right: 0;
}

.media-wrapper {
    position: relative;
    left: 36px;
}

.shower {
    position: relative;
    right: 35px;
}

